{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}InstaClone{% endblock %}</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'script.js' %}"></script>
</head>

<body>
<div class="container-fluid">
  <div class="row">
    <!-- Left Sidebar -->
    <div class="col-md-1 sidebar d-flex align-items-center py-4" style="z-index: 1020;">
      <button class="btn btn-lg bg-transparent border-0 text-white mb-3" title="Home"><i class="bi bi-house fs-4"></i></button>
      <button class="btn btn-lg bg-transparent border-0 text-white mb-3" title="Fast"><i class="bi bi-search fs-4"></i></button>
      <a href="{% url 'create_post' %}" class="btn btn-lg bg-transparent border-0 text-white mb-3" title="Upload">
          <i class="bi bi-plus-square fs-4"></i>
      </a>

    </div>

    <!-- Main Content -->
    <div class="col-md-11 main-content py-4 d-flex flex-column align-items-center">
  
  <!-- Top Bar: Full width above main content -->
  <div class="w-100 px-3 mb-3 d-flex justify-content-between align-items-center border-bottom border-4 border-grey">
    <div class="logo">
      <h3 style="font-family: 'Cedarville Cursive', cursive;">InstaClone</h3>
    </div>
    <div class="top-bar text-end ">
      {% if user.is_authenticated %}
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-warning btn-sm my-2" type='submit'>Logout</button>
      </form>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-warning btn-sm">Login</a>
        <a href="{% url 'register' %}" class="btn btn-secondary btn-sm">Register</a>
      {% endif %}
    </div>
  </div>

  <!-- Main Content Area -->
  <div class="w-100" style="max-width: 600px;">
    {% block main_content %}
    {% endblock %}
  </div>

</div>

  </div>
</div>
</body>
</html>

